
.green {
    background-color: #75d979;
}
.text-green{
    color: #75d979;
}
.midnight {
    background-color: #20232a;
}
.text-midnight {
   color: #20232a;
}
.grey {
    background-color: #2a2a2a;
}
.icons {
    margin-top: 2rem;
}
.bi {
    font-size: 26px;
    padding: 4px;
    color: #75d979;
}